<!DOCTYPE html>
<html lang="it">

	<head>
		<meta charset="UTF-8">
		<title>BGS Guests Counter | List</title>
		<style>
			body {
				background-color: rgb(45, 45, 45);
				color: white;
			}
			a {
				color: lightblue;
				border: 1px solid white;
				border-radius: 5px;
				padding: 3px;
			}
			table, th,td {
				border: 1px solid white;
			}
		</style>
		<%
			const date = new Date(); 
			var totalGuests = 0;
			for(const hour in dayGuests) {
				totalGuests += dayGuests[hour];
			}
		%>
	</head>

	<body>
		<h1>Guests di oggi</h1>
		<h4><%= date.getDate() %>/<%= date.getMonth() + 1 %>/<%= date.getFullYear() %></h4>
		<p>Totali: <%= totalGuests %></p>
		<table>
			<tr>
				<th>Fascia oraria</th>
				<th>Numero Guests</th>
			</tr>
			<% for(const hour in dayGuests) { %>
				<tr>
					<td><%= hour %>:00 - <%= parseInt(hour) + 1 %>:00</td>
					<td><%= dayGuests[hour] %></td>
				</tr>
			<% } %>
		</table>
		<br>
		<a href="/">Go to home</a>
		<a href="/listPast">See past days</a>
	</body>

</html>
